/*初始化 start*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    cursor: url("../img/mouse.ico"), auto;
}

html {
    height: 100%;
    width: 100%;
    cursor: url("../img/mouse.ico"), auto;
}

/*初始化 end*/
/*轮播 start*/
.carousel {
    position: relative;
    width: 1920px;
    height: 800px;
    overflow: hidden;
}

.img-ct {
    position: absolute;
    top: 0;
    left: 0
}

img {
    width: 1920px;
    height: 800px;
}

.carousel ul li {
    float: left;
}
.choose {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.choose li {
    width: 30px;
    height: 14px;
    border-radius: 4px;
    background-color: #fff;
    display: inline-block;
    margin-left: 25px;
    cursor: pointer;
}

.choose li.active {
    background-color: #666;
}

/*轮播 end*/
/*轮播文本 start*/
.container {
    width: 1000px;
    margin: 0 auto;
}

.bannerText {
    position: absolute;
    left: 0;
    right: 0;
    top: 35%;
    text-align: center;
}

.bannerText h1 {
    font-size: 65px;
    color: #fff;
    font-weight: bold;
    padding-bottom: 20px;
}

.bannerText p {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    padding-bottom: 42px;
}

.bnt {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    background-color: #EF7674;
    text-transform: uppercase;
    padding: 0 29px;
    margin: 0 10px;
    text-decoration: none;
    outline: none;
}

.bnt:focus,
.bnt:hover,
.bnt:active {
    color: #eaeaea;
    text-decoration: none;
}

/*轮播文本 end*/
/*导航 start*/
.nav {
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.nav .pro {
    display: inline-block;
    float: left;
    font-family: cursive;
    font-size: 27px;
    color: #337AB7;
    height: 50px;
    line-height: 50px;
}

.nav .nav-list {
    float: right;
}

.nav .nav-list li {
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    padding: 0 15px;
    transition: 1s;
}

.nav .nav-list li:hover {
    background: #337AB7;
    border-radius: 5px;
}

.nav .nav-list li a {
    display: inline-block;
    color: #FFF;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
}
.nav .nav-list li a:hover{
    color:red;
}
/*导航 end*/
/*公共 start*/
.left {
    float: left;
}

.right {
    float: right;
}

.heading {
    padding: 55px 0;
    text-align: center;
}
.heading p{
    max-width: 660px;
    text-align: justify;
    display: block;
    margin: 0 auto;
}
.section {
    width: 960px;
    margin: 0 auto;
}

.section h2 {
    font-size: 36px;
    line-height: 38px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: #ef7674 4px solid;
    padding-bottom:9px;
    margin-bottom: 49px;
   display: inline-block;

}
.exprience,.reffernces{padding-bottom:55px;}
/*公共 end*/
/*about start*/
.about,.exprience,.contact{
    background: #f3f2f3;
}
.about-content .left p{
    line-height: 50px;
}
.about-content .my-photo {
    width: 400px;
    height: 540px;
}

/*about end*/
/*technical start*/
.technical .content{
    padding-bottom:55px;
}
.technical .skillsArea {
    padding: 0px;
}

.technical .skills {
    margin: 0 auto;
    margin-bottom: 23px;
    text-align: center;
    padding: 0px;
    float: none;
}

.technical .skills h4 {
    font-weight: 700;
    font-size: 17px;
    line-height: 27px;
    padding-bottom: 11px;
    color: #5b4c5c;
}

.chart {
    position: relative;
    display: inline-block;
    width: 118px;
    height: 118px;
    margin-bottom: 19px;
    text-align: center;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.percent {
    display: inline-block;
    font-size: 21px;
    color: #5b4c5c;
    line-height: 118px;
    z-index: 2;
    font-weight: bold;
}

.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}

/*technical end*/
/*exprience start*/
.work-lf {
    width: 17%;
    float: left;
}

.work-rt {
    width: 83%;
    float: left;
}

.workDetails .rightArea {
    border-left: dashed 1px #897f8a;
    padding-bottom: 47px;
}

.workDetails:last-child .rightArea {
    padding-bottom: 0px;
}

.workDetails:last-child .rightArea .exCon p:last-child {
    padding-bottom: 0;
}

.workYear {
    font-size: 17px;
    color: #fff;
    line-height: 40px;
}

.workYear span {
    display: block;
    font-size: 18px;
    padding: 0 21px;
    white-space: nowrap;
    float: right;
    margin-bottom: 2px;
    margin-right: 48px;
    font-weight: bold;
}

.prevY {
    background-color: #ef7674;
}

.afterY {
    background-color: #483c49;
}

.arrowpart {
    margin-left: -12px;
    margin-top: 32px;
    float: left;
    width: 22px;
    height: 22px;
    background: url(../img/arrow-left.png) no-repeat;
}

.exCon {
    width: auto;
    padding: 0 47px 6px 70px;
    margin-left: 15px;
    text-align: left;
}

.exCon p {
    color: #897f8a;
    line-height: 27px;
}

.exCon h4 {
    color: #5b4c5c;
    padding-bottom: 1px;
    margin-top: -8px;
}

.exCon h5 {
    color: #5b4c5c;
    padding-bottom: 11px;
}

/*exprience end*/
/*reffernces start*/
.refBox {
    margin-bottom: 18px;
}
.refBoxcon {
    background: #FFF;
    padding: 50px 34px 41px;
    border-bottom: #e6e6e6 5px solid;
}
.refBoxcon p {
    color: #897f8a;
    font-size: 15px;
    line-height: 27px;
    padding-bottom: 38px;
}
.refBoxcon h3 {
    text-align: right;
    color: #4c404d;
    font-size: 18px;
    font-weight: bold;
}
.refBoxcon h3 a {
    text-decoration: underline;
    color: #ef7674;
}
.refBox {
    padding: 0 10px;
}
/*reffernces end*/
/*contact start*/
.contact-ways li {
    font-size:20px;
    color:red;
}
.contact-ways li span{
    color:#00475d;
    font-weight: bold;
}
.contact-ways li a{
    color:#9bc061;
    font-size: 20px;
}
/*contact end*/
