<!DOCTYPE html>
<html>
<head>
    <title>信息修改</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="../../css/style.css">
</head>
<body>
    <div class="teacher_detail infro_po">
        <div class="tea_bak">
            <h2>信息修改</h2>
        </div>
        <div class="tea_rej">
            <form name="form1" method="post" action="2.html" onsubmit="return check()">
                <label for="male" class="no_sta">头像：</label>
                <p class="re_ig">
                  <img src="../register/image/person.jpg" alt="">
                </p>
                <br/>
                <label for="male">登录名：</label>
                <p>
                    <input id="text1" type="text" name="text1" onblur="check()">
                </p>
                <p>6-20位字母、数字组成</p>
                <br/>
                <label for="male">真实姓名：</label>
                <p>
                    <input id="text2" type="password" name="text2" onblur="check()">
                </p>
                <p>6-20位字母、数字或特殊字符组成</p>
                <br/>
                <label for="male">性别：</label>
                <p class="sal">
                    <input id="text4" type="radio" name="text4" value="male" /><span>男</span>
                    <input type="radio" name="text4" value="female" /><span>女</span></p>
                <br/>
                <label for="male">身份证号：</label>
                <p>
                    <input id="text5" type="text" name="text5" onblur="check()">
                </p>
                <br/>
                <label for="male">手机号码：</label>
                <p>
                    <input id="text6" type="text" name="text6" onblur="check()">
                </p>
                <br/>
                <label for="male">电子邮箱：</label>
                <p>
                    <input id="text7" type="text" name="text7" onblur="check()">
                </p>
                <br/>
                <label for="male"  class="no_sta">工作单位：</label>
                <p>
                    <input id="text8" type="text" name="text8" onblur="check()">
                </p>
                <br/>
                <label for="male" class="no_sta">职务：</label>
                <p>
                    <input id="text9" type="text" name="text9" onblur="check()">
                </p>
                <br/>
                <label for="male" class="no_sta">密码提示问题：</label>
                <p>
                   <input id="text10" type="text" name="text10" onblur="check()"> 
                   <select name="select" id="select_k1" class="xla_k">
                        <option value="-请选择-" selected = "selected">-请选择-</option>
                        <option value="您的生日">您的生日</option>
                        <option value="您喜欢的动物">您喜欢的动物</option>
                        <option value="您喜欢的人">您喜欢的人</option>
                        <option value="您喜欢的城市">您喜欢的城市</option>
                    </select>
                </p>
                <br/>
                <label for="male" style="margin-top:20px;" class="no_sta">密码问题答案：</label>
                <p>
                    <input id="text11" type="text" name="text11" onblur="check()">
                </p>
                <br/>
                <label for="male" class="no_sta"></label>
                <p><a href="javascript:void(0)" class="rejc rgkk save">保存</a></p>
            </form>
        </div>
    </div>
</body>
</html>