@charset "utf-8";
a{color: #666;font-size:14px;text-decoration:none;font-weight: normal;}
//文字颜色
//	lighten		通过改变颜色的亮度值，让颜色变亮
//	darken		通过改变颜色的亮度值，让颜色变暗
//	saturate	通过改变颜色的饱和度值，让颜色更饱和
//  desaturate	通过改变颜色的饱和度值，让颜色更少的饱和
//  使用方法    darken(#dff0d8,5%); 把#dff0d8颜色亮度降低5%
//	默认全部的hover颜色就是使用darken函数降低亮度5%
body{background: #eceff4;}
$page_color:         #00a0e8;//分页颜色
$main_color:         #0063a6;//页面主体颜色(hover,更多,按钮背景,导航背景,模块标题背景,footer,翻页选中,筛选条件选中)
$ywColor:            #666666;//列表,正文
$color_fff:          #fff;//白色
$nyColor:            #ff6666;//橘色
$redColor:           #fc6b5a;//红色
$lsColor:            #8fc46c;//绿色
/*边框颜色 strat*/
$bkLineColor:#ffc333;
$LineSecond:#8ec165;
$LineThird:#60aae9;
$LineLast:#00c0ef;
/*边框颜色 end*/
$courceColor:#f9f8f4;//标题背景色
$openColor:#93c469;//网易公开课背景色
$openpubColor:#b0d257;//基础课程背景色
$l_qgray:#dcdcdc;//浅灰
$l_sgray:#d2d2d2;//灰
$l_menu:#f6f9fb;//左导航背景色
//----字体图标---
@font-face {font-family: "iconfont";
  src: url('../../views/font/iconfont.eot?t=1466647118'); /* IE9*/
  src: url('../../views/font/iconfont.eot?t=1466647118#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../views/font/iconfont.woff?t=1466647118') format('woff'), /* chrome, firefox */
  url('../../views/font/iconfont.ttf?t=1466647118') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../../views/font/iconfont.svg?t=1466647118#iconfont') format('svg'); /* iOS 4.1- */
}
.icon{
	display: inline-block;
	font-family: iconfont;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} 
.icon-youjiantou:before { content: "\e602"; }
.icon-user:before { content: "\e606"; }
.icon-xiaoxingchaoshi00:before { content: "\e607"; }
.icon-peixun:before { content: "\e608"; }
.icon-home:before { content: "\e609"; }
.icon-xinxi:before { content: "\e60a"; }
.icon-ziliao:before { content: "\e60b"; }
.icon-zhuanti:before { content: "\e60c"; }
.icon-gerendangan:before { content: "\e60d"; }
.icon-iconchengjidan:before { content: "\e60e"; }
.icon-daiban:before { content: "\e60f"; }
.icon-banji:before { content: "\e610"; }
.icon-weikaoshi:before { content: "\e611"; }
.icon-wodekecheng:before { content: "\e612"; }
.icon-shouye4wode1:before { content: "\e613"; }
.icon-wentiku:before { content: "\e614"; }
.icon-zuo:before { content: "\e600"; }
.icon-you:before { content: "\e601"; }
.icon-search:before{content:"\e62c"}

//---文字字体、字号

//微软雅黑
$global-hei                  : "Microsoft YaHei" !default;

//宋体
$global-song                  : simsun !default;

//字体大小
$global-font-size				: 12px !default;
//行高
$global-line-height				: 20px !default;

