@charset "utf-8";

/*专题学习 start*/

.cource_std {
    margin-bottom: 0;
    .scource_tudy {
        color: $ywColor;
        font-size: $global-font-size+2;
        font-family: $global-hei;
        font-weight: bold;
        height: 43px;
        line-height: 43px;
    }
    .bk_linetwo {
        border-bottom: $LineThird 2px solid;
        width: 980px;
        margin-left: -1px;
        margin-bottom: -1px;
    }
}


/*专题学习 end*/

.kc_facu {
    background: $color_fff;
    padding: 30px 36px 36px 36px;
    ;
    border-top: #dcdcdc 1px solid;
    ul.kclb {
        .kclb_img {
            position: relative;
        }
        li {
            height: 268px;
            @include fl();
            margin-right: 32px;
            p {
                position: absolute;
                bottom: 5px;
                left: 0;
                background: #101112;
                width: 201px;
                height: 25px;
                opacity: 0.8;
                a {
                    color: $color_fff;
                    font-size: $global-font-size;
                    font-family: $global-song;
                    padding-left: 53px;
                }
            }
            margin-bottom: 110px;
            h3 {
                color: #9198ab;
                font-size: $global-font-size+2;
                font-family: $global-song;
                line-height: 160%;
            }
            h3.teacher_kc {
                padding-top: 15px;
            }
        }
        li.last {
            margin-right: 0;
        }
        border-bottom: 1px dashed #ccc;
        padding-bottom: 350px;
        margin-bottom: 30px;
    }
    ul.kc_th {
        border-bottom: 1px dashed #ccc;
        padding-bottom: 360px;
        margin-bottom: 36px;
    }
}