@charset "utf-8";

/*注册 start*/

.tea_rej {
    background: $color_fff;
    padding: 35px 20px 38px 20px;
    label {
        background: url(../../views/mod/register/image/star.png) no-repeat left center;
        color: $ywColor;
        font-size: $global-font-size+2;
        font-weight: bold;
        width: 120px;
        margin-right: 10px;
        padding-left: 15px;
        height: 30px;
        line-height: 30px;
        @include fl();
        }
    label.no_sta{background: none;}
   .last {
        background: none;
    }
    p.sal{input{width:15px;height:15px;}}
    input {
        @include br();
        width: 280px;
        height: 30px;
        margin-bottom: 20px;
    }
    input#text10{display: none;}
    input#text11{margin-top: 20px;}
    #select_k1.xla_k{width:280px;height: 30px;line-height: 30px;@include br();}
    span {
        color: $ywColor;
        font-size: $global-font-size+2;
    }
    span.account {
        color: $ywColor;
        font-size: $global-font-size+2;
        display: inline;
    }
    a {
        display: inline-block;
        @include br();
        background: #f7f7f7;
        padding: 0 15px;
        color: $redColor;
        font-size: $global-font-size+2;
        height: 30px;
        line-height: 30px;
    }
    a.regis_text {
        color: $main_color;
        text-decoration: underline;
        border: 0;
        background: none;
        padding-left: 0;
    }
    a.rejc,.cmt {
        border-radius: 5px;
        background: $redColor;
        color: $color_fff;
        font-weight: bold;
        font-size: $global-font-size+6;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        width: 140px;
        padding-left: 40px;
    }
    a.cmt{width:120px;margin-right: 20px;}
    a.ext{width:120px;}
    a.rgkk{padding-left:32px;}
    a.save {
        padding-left: 50px;
    }
   p {
        display: inline;
        color: #ccc;
        font-size: $global-font-size+2;
   }
}
/*注册 end*/
/*问题反馈 start*/
.answer_kk {
    background: #fff;
    padding: 0 20px;
    p {
        color: $ywColor;
        font-size: $global-font-size+2;
        padding: 5px 0;
    }
    .w140 {
        width: 140px;
    }
    .table {
        td {
            color: #000;
            font-size: $global-font-size+2;
            font-weight: bold;
            padding:0 10px;
            #text1,
            #text2 {
                width:100%;
                margin: 5px 0;
            }
            #text2 {
               margin: 10px 0 5px 0;
            }
        }
        td.tit_bt {
            height: 45px;
            text-align: right;
            padding-right: 10px;
            background: $courceColor;
            span {
                color: $redColor;
                margin-right: 10px;
            }
            border-top:$redColor 2px solid;
        }
        td.main {
            height: 210px;
            text-align: right;
            padding-right: 10px;
            background: $courceColor;
        }
    }
    a {
        display: inline-block;
        border: #ccc 1px solid;
        margin-bottom: 10px;
        &:hover {
            background: $main_color;
            color: $color_fff;
        }
    }
    a.fkk {
        padding: 5px 10px;
    }
    a.exit {
        padding: 5px 25px;
    }
    a.active {
        background: $main_color;
        color: $color_fff;
    }
}


/*问题反馈 end*/