@charset "utf-8";
.fac_cou {
    .cource_line {
        border-top: $l_sgray 1px solid;
    }
    .cource_faculty {
        padding-left: 0;
        height: 47px;
        h3 {
            display: inline-block;
            color: #333;
            font-size: $global-font-size+2;
            font-weight: bold;
            line-height: 46px;
            position: relative;
            padding: 0 32px;
            border-top: 2px solid $redColor;
            border-right: $l_sgray 1px solid;
            top: -1px;
            margin-right: 30px;
        }
        a {
            display: inline-block;
        }
        a.olp {
            background: $main_color;
            border-radius: 5px;
            height: 30px;
            line-height: 30px;
            color: $color_fff;
            padding: 0 5px;
        }
    }
}


/*弹出页面*/

.teacher_detail,.teacher{
    @include br();
    .tea_bak {
        background: $courceColor;
        height: 58px;
        border-bottom: #dcdcdc 1px solid;
    }
    .tea_bjs {
        background: $color_fff;
        padding: 25px 25px;
        .tea_detail {
            margin-bottom: 8px;
            .tea_fl {
                @include fl();
            }
            .tea_fr {
                @include fl();
                margin-left: 20px;
                h3 {
                    color: #333;
                    font-size: $global-font-size+12;
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                p {
                    color: $ywColor;
                    font-size: $global-font-size+4;
                    line-height: 180%;
                }
             }
        }
    }
    h2 {
        color: $redColor;
        border-left: $redColor 4px solid;
        font-size: $global-font-size+6;
        font-weight: bold;
        display: inline-block;
        padding-left: 8px;
        margin-left: 20px;
        margin-top: 10px;
    }
    .slidepre {
        width: 500px;
        overflow: hidden;
        background: none;
        ul.cource_name {
            li {
                @include fl();
                margin-right: 0;
                a {
                    display: inline-block;
                    background: $redColor;
                    padding: 8px 15px;
                    color: $color_fff;
                    font-family: $global-song;
                    font-size: $global-font-size;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                }
                padding-right: 4px;
            }
        }
        a.sPrev {
            background: url(../../views/mod/faculty/image/left_nav_on.jpg) no-repeat left center;
            width: 20px;
            height: 29px;
        }
        a.sNext {
            background: url(../../views/mod/faculty/image/right_nav.jpg) no-repeat right center;
            width: 20px;
            height: 29px;
            padding-right: 10px;
        }
    }
    .slide_bone {
        width: 550px;
    }
    .wb_style {
        padding-top: 20px;
        h3 {
            border-left: $redColor 4px solid;
            font-weight: bold;
            display: inline-block;
            padding-left: 8px;
            margin-left: 3px;
            color: $ywColor;
            font-size: $global-font-size+2;
            margin-bottom: 6px;
        }
        p {
            color: $ywColor;
            font-size: $global-font-size+2;
            font-weight: normal;
            line-height: 160%;
        }
        p.tit_pop {
            padding-bottom: 15px;
        }
    }
}
.infro_po{width:670px;p.re_ig{img{padding-bottom: 15px;}}}