@charset "utf-8";

/*课程超市右侧 start*/

.cource_bl {
    border: #d2d2d2 1px solid;
    margin-bottom: 10px;
    .tit_brak,
    .cource_title,
    .cource_fit,
    .cource_faculty {
        padding-left: 28px;
        background: $courceColor;
        a {
            display: inline-block;
            color: $main_color;
            height: 30px;
            line-height: 30px;
            margin-right: 25px;
            padding: 0 10px;
            margin: 10px 0;
            &:hover {
                background: $main_color;
                border-radius: 5px;
                height: 30px;
                line-height: 30px;
                color: $color_fff;
                padding: 0 10px;
            }
        }
        a.open {
            border-radius: 5px;
            height: 30px;
            line-height: 30px;
            color: $color_fff;
            padding: 0 10px;
            background: $main_color;
        }
        a.active {
            background: $openColor;
            padding: 0 10px;
        }
        a.stu_source {
            color: $ywColor;
            font-weight: bold;
        }
        span.class_bk {
            margin-left: 25px;
        }
        a.leibie {
            color: #333;
            font-weight: bold;
            font-size: $global-font-size+2;
        }
    }
    .tit_search {
        font-size: $global-font-size+2;
        font-family: $global-hei;
        span {
            color: #333333;
            margin-right: 10px;
        }
        .search_ttk{padding:10px 0;.input-group{margin-bottom: 10px;}}
        span.total_time{@include fl();color:#000; font-size:$global-font-size+4;}
        p.total_add{color:#000; font-size:$global-font-size+4;span{font-size:$global-font-size+2;margin-left: 8px;}}
        select {
            width: 95px;
            height: 30px;
            margin-right: 10px;
            option {
                color: #333333;
            }
        }
        a {
            color: $color_fff;
            background: $main_color;
            border-radius: 5px;
            display: inline-block;
            line-height: 30px;
            height: 30px;
            margin: 6px 0;
        }
   }
    .tit_disamp {
        .exam_flt {
            @include fl();
            padding-top: 10px;
            span.ksmc {
                font-size: $global-font-size+2;
                font-weight: bold;
            }
        }
        .exam_frt {
            @include fr();
            margin-right: 10px;
            a.paper{padding:0;}
        }
    }
    .bk_linefirst {
        border-bottom: $main_color 2px solid;
        margin-left: -1px;
        width: 770px;
    }
    .bk_line {
        border-bottom: $nyColor 2px solid;
        margin-left: -1px;
        width: 770px;
    }
    .bk_line01 {
        border-bottom: $nyColor 2px solid;
        margin-left: -1px;
    }
    .bg_line {
        width: 980px;
    }
    .cource_main {
        padding: 5px 0;
        background: $color_fff;
        a {
            color: $ywColor;
        }
        .cource_fit {
            background: none;
            a:first-child {
                color: $main_color;
            }
            a:first-child:hover {
                color: #fff;
            }
            a.stu_source {
                color: $ywColor;
                font-weight: bold;
            }
        }
        .open_pub {
            background: $openColor;
            border-radius: 5px;
            height: 30px;
            line-height: 30px;
            color: $color_fff;
            padding: 0 10px;
        }
        .open_basic {
            background: $openpubColor;
            border-radius: 5px;
            height: 30px;
            line-height: 30px;
            color: $color_fff;
            padding: 0 10px;
        }
    }
}
.tit_brak{.exam_frt{ 
           a:hover {
                background: $main_color;
                border-radius: 5px;
                height: 30px;
                line-height: 30px;
                padding: 0 15px;
                color: $color_fff;
               
            }
        }}
.tit_exam {
    margin-bottom: 0;
}


/*课程超市右侧 end*/


/*翻页 start*/

.pagenation {
    @include page(5px 12px, #ccc);
    ul {
        padding-left: 0;
        margin-right: 0;
    }
    li {
        list-style: none;
    }
}


/*翻页 end*/

.content_pp {
    background: $color_fff;
    min-height: 510px;
}

#open1,
#open2 {
    a.jibie {
        color: #333;
        font-weight: bold;
        font-size: $global-font-size+2;
    }
    a.open {
        border-radius: 5px;
        height: 30px;
        line-height: 30px;
        color: $color_fff;
        padding: 0 10px;
        background: $main_color;
    }
}

.colorce_class {
    span {
        a {
            &:hover {
                color: $redColor;
                text-decoration: underline;
                background: none;
            }
        }
    }
}