@charset "utf-8";

/*专题学习 start*/
.tit_special{img{vertical-align: bottom;}}
.tt_spe {
    border: 1px solid #cccccc;
    border-bottom: 0;
    margin-bottom: 0;
    padding: 0 23px 0 20px;
    background: $courceColor;
    h3 {
        background: none;
        color: #fc7464;
        font-size: $global-font-size+6;
        font-weight: normal;
    }
    span.more {
        color: #999;
        background: none;
        float: right;
        margin-top: 10px;
        padding-right: 10px;
        font-size: $global-font-size+2;
    }
}
.white_block,
.bk_lfn,
.special_area {
    border: 1px solid #cccccc;
    background: $color_fff;
    padding: 20px 18px;
    p {
        color: $ywColor;
        font-size: $global-font-size+2;
        text-indent: 2em;
        line-height: 160%;
       }
    margin-bottom: 10px;
}

.tt_sp {
    height: 46px;
    line-height: 46px;
    border: 1px solid #cccccc;
    margin-bottom: 0;
    padding: 0 10px;
    h3 {
        background: #fb6b5b;
        height: 45px;
        line-height: 45px;
        border: 1px solid #cccccc;
    }
    em {
        font-style: normal;
        color: #999;
        font-size: $global-font-size+2;
        span {
            color: #fb6b5b;
        }
        padding-left:28px;
    }
    background: $courceColor;
}

.tt_qq {
    h3 {
        background: none;
        border-bottom: 0;
        color: #333;
        border-top: 2px solid $redColor;
    }
}

.kc_special {
    border: 1px solid #cccccc;
    background: $color_fff;
    border-top: 0;
    padding: 20px;
    ul.kcdb {
       padding: 0;
        li {
            margin:0px 17px;
			padding-right: 0;
        }
   }
    margin-bottom: 10px;
}
.bk_lfn {
    padding: 10px 10px 0 10px;
    border-top: 1px solid #ccc;
}

.special_fl {
    @include fl();
    width: 475px;
    height: 300px;
    @include br();
    margin-bottom: 10px;
}

ul.news-lly {
    margin: 0 20px;
    li span {
        font-size: 13px;
        height: 27px;
        line-height: 27px;
        width: 80px;
        color: #666666;
        position: absolute;
        right: 0;
   }
}

.special_fr {
    @include fr();
    width: 475px;
    height: 300px;
    @include br();
}

.spe_cl {
    margin-bottom: 10px;
    h3 {
        color: $ywColor;
        background: none;
        height: 38px;
        line-height: 38px;
        padding: 0;
    }
    span {
        @include fr();
        a {
            display: block;
            color: $ywColor;
            height: 38px;
            line-height: 38px;
        }
    }
    background: $courceColor;
}

.special_all {
    @include br();
}

.special_more {
    background: $color_fff;
    @include br();
}

.news_leader {
    width: 760px;
    border: 0;
    padding-top: 20px;
}


/*专题学习 end*/


/*课程详情 start*/

.detail_po {
    h2 {
        color: $ywColor;
        font-size: $global-font-size+6;
        font-weight: bold;
        margin-bottom: 10px;
        border-bottom: 0;
        a{color: $ywColor;font-size: $global-font-size+6;
        font-weight: bold;
        margin-bottom: 10px;
        border-bottom: 0;}
    }
    p {
        font-size: $global-font-size+2;
        line-height: 180%;
        color: $ywColor;
        margin-bottom: 45px;
    }
    p.text_style01 {
        text-indent: 1em;
    }
    h2.project {
        padding-top: 30px;
    }
    h2.project_kk {
        padding-top: 20px;
    }
}
.ky_po{p{margin-bottom: 0;}}
.sup_bline {
    @include br();
    width: 900px;
    height: 145px;
    color: #c1c1c1;
    font-size: $global-font-size+2;
    padding: 9px 0 0 9px;
   
}

.submit {
    @include fr();
    margin: 20px 20px 0 0;
    a {
        display: block;
        background: $main_color;
        border-radius: 5px;
        width: 100px;
        height: 30px;
        line-height: 30px;
        color: $color_fff;
        text-align: center;
    }
}

.lay_info {
    margin-bottom: 140px;
}


/*课程详情 end*/

.detail_kkd {border-bottom: #d2d2d2 1px solid;padding-bottom: 70px;
    .mix_sedt {
        p {
            margin-bottom: 0;
            color: $ywColor;
            font-size: $global-font-size+2;
        }
        p.yx_rrk {
            font-weight: bold;
            color: $ywColor;
            font-size: $global-font-size+2;
        }
        .qy_nk {
            @include fr();
            margin-top: 20px;
            span {
                color: $ywColor;
                font-size: $global-font-size;
            }
            span.user {
                background: url(../../views/mod/supermarket/image/xr.png) no-repeat left center;
                margin-right: 70px;
                padding-left: 20px;
            }
            span.time {
                background: url(../../views/mod/supermarket/image/nz.png) no-repeat left center;
                margin-right: 50px;
                padding-left: 20px;
            }
            span.people {
                background: url(../../views/mod/supermarket/image/zan.png) no-repeat left center;
                padding-left: 20px;
                color: #91c36a;
            }
        }
    }
}