@charset "utf-8";

/*课程超市切换 start*/

.tit_super,
.tit_kll {
    height: 46px;
    background: #f5f5f6;
    border-top: #d2d2d2 1px solid;
    border-right: #d2d2d2 1px solid;
    margin-bottom: 0;
    ul {
        li {
            height: 46px;
            line-height: 46px;
            width: 78px;
            a {
                height: 44px;
                line-height: 44px;
                background: $color_fff;
                color: $ywColor;
            }
            &.active {
                a {
                    background: $nyColor;
                    height: 44px;
                    line-height: 44px;
                    color: $color_fff;
                    border-top: 0;
                    margin-top: 1px;
                }
            }
        }
    }
}


/*课程超市切换 end*/


/*左图右文字*/

@mixin mixList($imgWid:220px, $imgHei:150px) {
    border-top: #e6e6e6 1px solid;
    margin-bottom: 20px;
    li {
        padding: 10px 0;
    }
    .mix-img {
        float: left;
        display: block;
        width: $imgWid;
        height: $imgHei;
        overflow: hidden;
        margin-top: 10px;
        img {
            width: 100%;
        }
    }
}

.mix-list {
    @include mixList();
    background: $color_fff;
    border: #d2d2d2 1px solid;
    border-top: 0;
    ul.mix_area, .list_area {
       li { border-bottom: #d2d2d2 1px solid;
            padding-bottom: 20px;
            .tit_ko{margin:0 19px;}
        }
        .mix-ttl {
            position: relative;
            @include fl();
            width: 220px;
            p {
                a {
                    color: $color_fff;
                    font-size: $global-font-size+2;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: #21201f;
                    opacity: 0.6;
                    width: 220px;
                    height: 25px;
                    line-height: 25px;
                    padding-left: 55px;
                }
            }
        }
        .mix-txt {
            @include fr();
            width: 700px;
            .tit_text2 {
                .tit_flt {
                    @include fl();
                    a {
                        &:hover {
                            opacity: 0.9;
                        }
                    }
                }
                .tit_ftt {
                    @include fr();
                    span.pel {
                        color: $ywColor;
                        font-size: $global-font-size;
                        padding: 0 14px 0 7px;
                    }
                    img {
                        margin-left: 4px;
                    }
                    padding-top:5px;
                }
            }
        }
    }
    ul.list_area {border-bottom: #d2d2d2 1px solid;
        padding-bottom: 170px;li{border-bottom:none;margin:0 20px;}}
    .liulan {
        background: $main_color;
        border-radius: 5px;
        float: right;
        margin-top: 20px;
        a {
            height: 40px;
            line-height: 40px;
            color: $color_fff;
            font-size: $global-font-size+2;
            font-family: $global-hei;
            background: url(../mod/supermarket/image/fk.png) no-repeat left center;
            padding-left: 30px;
            margin: 0 20px;
        }
    }
}

h3 {
    a {
        font-size: $global-font-size;
        font-weight: bold;
        color: #0066cc;
    }
    span {
        color: #333;
        font-weight: bold;
    }
    span.norma {
        font-weight: normal;
    }
}


/*翻页 start*/

.pagenation {
    @include page(5px 12px, #ccc);
    ul.page_bkk {
        margin-right: 190px;
    }
    ul.page_mag {
        margin-top: 15px;
    }
}


/*翻页 end*/

.sm_line {
    border-bottom: #ccc 1px dashed;
    padding-bottom: 220px;
    width: 900px;
    margin-left: 18px;
    margin-bottom: 25px;
}

.mix_cource {
    @include mixList();
    margin-bottom: 0;
    border: 0;
    .mix-tdl {
        @include fl();
        width: 200px;
        height: 150px;
        margin-right: 50px;
    }
    .tit_fdr {
        margin-top: 10px;
        h3 {
            color: $ywColor;
            font-size: $global-font-size+6;
        }
        p {
            color: $ywColor;
            font-size: $global-font-size+2;
            line-height: 180%;
        }
    }
    .mix-img {
        width: 200px;
        height: 150px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    li {
        padding: 0;
    }
    border-bottom: #d2d2d2 1px solid;
    padding:20px 0 35px 0;
}

.mix_tit {
    .mix-tdl {
        @include fl();
        width: 73px;
        height: 73px;
        margin-right: 15px;
    }
    .tit_fdr {
        @include fl();
        width: 435px;
        h3 {
            color: $ywColor;
            font-size: $global-font-size+6;
        }
        p {
            color: $ywColor;
            font-size: $global-font-size+2;
            line-height: 180%;
            margin-bottom: 0;
        }
        h3 {
            font-size: $global-font-size+4;
            color: #636262;
            margin-bottom: 15px;
            span {
                color: #2458b2;
                font-size: $global-font-size+4;
            }
        }
        p {
            color: #636262;
            font-size: $global-font-size+2;
            margin-bottom: 10px;
        }
        p.time_cource {
            color: #bbbaba;
        }
    }
    .mix-img {
        width: 73px;
        height: 73px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    border-bottom: #d2d2d2 1px solid;
    margin-bottom: 20px;
}

.mix-tdsn {
    @include fl();
    .mix-img {
        width: 108px;
        height: 108px;
    }
}

.in_cd {
    .tit_tdsr {
        @include fr();
        width: 770px;
        .jlks {
            margin-bottom: 45px;
        }
        h2 {
            color: $ywColor;
            font-size: $global-font-size+8;
            font-weight: normal;
            span {
                font-size: $global-font-size+4;
            }
            margin-bottom: 10px;
        }
        h3 {
            color: #232323;
            font-size: $global-font-size+4;
            font-weight: bold;
            margin-bottom: 15px;
        }
        p {
            font-size: $global-font-size+2;
            color: $ywColor;
            line-height: 220%;
        }
    }
}