@charset "utf-8";

/*排行榜 start*/

.news-kk {
    background: $color_fff;
    padding: 20px 20px 80px 20px;
    @include br();
    ul {
        li {
            h3 {
                a {
                    font-size: $global-font-size+4;
                    color: $main_color;
                    margin-bottom: 5px;
                }
            }
            P {
                font-size: $global-font-size+2;
                color: $ywColor;
                line-height: 180%;
                margin-bottom: 10px;
            }
            border-bottom: #ccc 1px dashed;
            margin-bottom: 10px;
        }
    }
    ul.page_rank {
        li {
            border-bottom: 0;
        }
    }
}
.kk_rank {
    .table {
        margin-top: 10px;
    }
    background: #fff;
    height:1395px;
    margin-bottom: 10px;
}

.ranking-box {
    @include ranking-box();
}

.cl_box {
    margin-left: 10px;
}

.rank_cl {
    margin-left: 8px;
}

.cl_kkt {
    margin-top: 10px;
}

.model_rank {
    background: white;
    border: 1px solid #cccccc;
    padding: 9px 9px 0 9px;
    margin-bottom: 90px;
    .kt_rank {
        @include ranking-box();
        width: 750px;
        background: #fff;
    }
}

.kt_ttyl {
    padding-left: 50px;
}
/*排行榜 end*/