<!DOCTYPE html>
<html>
<head>
    <title>培训师资</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="../../css/style.css">
</head>
<body>
    <div class="teacher_detail">
        <div class="tea_bak">
            <h2>讲师详情</h2>
        </div>
        <div class="tea_bjs">
        <div class="tea_detail clearfix">
            <div class="tea_fl">
              <img src="../../mod/faculty/image/pxsz.jpg"/>  
            </div>
            <div class="tea_fr">
                <h3>讲师姓名具体姓名</h3>
                <p>讲师类别：外聘</p>
                <p>讲师级别：特级讲师</p>
                <p>联系电话：13888888888</p>
                <p>电子邮箱：666666@qq.com</p>
                <p>课程总数：999</p>
            </div>
        </div>
        <!-- slideBox start -->
        <div class="slideGroup clearfix ">
              <div class="slideBox slidepre slide_bone">
                        <a class="sPrev" href="javascript:void(0)"></a>
                        <ul class="cource_name">
                            <li>
                            <a href="../supermarket/cource_detail.html" target="_blank">课程名称教师资源资源</a>
                            </li>
                            <li>
                            <a href="../supermarket/cource_detail.html" target="_blank">课程名称</a>
                            </li>
                            <li>
                            <a href="../supermarket/cource_detail.html" target="_blank">课程名称</a>
                            </li>
                            <li>
                            <a href="../supermarket/cource_detail.html" target="_blank">课程名称</a>
                            </li>
                            <li>
                            <a href="../supermarket/cource_detail.html" target="_blank">课程名称</a>
                            </li>
                           
                        </ul>
                        <a class="sNext" href="javascript:void(0)"></a>
              </div>
        </div>
        <!-- slideBox End -->
        <div class="wb_style">
            <h3>讲师简介：</h3>
            <p class="tit_pop">全国信息技术标准化技术委员会教育技术分技术委员会委员兼秘书长。主要从事计算机教育及教育信息化研究，主持和参加多项国家863、支撑计划课题和教育部课题。</p>
            <h3>讲师简介：</h3>
            <p>全国信息技术标准化技术委员会教育技术分技术委员会委员兼秘书长。主要从事计算机教育及教育信息化研究，主持和参加多项国家863、支撑计划课题和教育部课题。</p>
        </div>
        </div> 
    </div>
    <script src="../../../views/js/jquery-1.11.1.min.js"></script>
    <script src="../../../views/js/layer.js"></script><!--弹窗-->
    <script src="../../js/lak.js"></script><!--弹窗-->
    <script src="../../js/jquery.SuperSlide.2.1.1.source.js"></script> <!--视频滚动  教师详情弹出滚动 hidden-->
    <script>
        $(function () {
            $('.picplay_01').cycle({
                speed: 500
                , slides: "> div"
                , pager: ".cyclyImg_pager_01"
                , pauseOnHover: true
            });
        });
    </script>
     <script type="text/javascript">
        jQuery(".slideGroup .slideBox").slide({
            mainCell: "ul"
            , vis: 3
            , prevCell: ".sPrev"
            , nextCell: ".sNext"
            , effect: "leftMarquee"
            , interTime: 50
            , autoPlay: true
            , trigger: "click"
        , });
        //        jQuery(".slideGroup").slide({
        //            titCell: ".parHd li"
        //            , mainCell: ".parBd"
        //        });
    </script>
  </body>
</html>