<!DOCTYPE html>
<html>
<head>
    <title>考试履历弹出</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="../../css/style.css">
</head>
<body>
   <div class="content_area content_pp">
      <table class="table first-td-tc">
                <thead>
                    <tbody>
                        <tr>
                            <th>安排名称</th>
                            <th>开始时间</th>
                            <th>结束时间</th>
                            <th>得分</th>
                            <th>操作</th>
                        </tr>
                        <tr>
                            <td>关于党章建设</td>
                            <td></td>
                            <td></td>
                            <td>30</td>
                            <td><a href="javascript:;" onclick=layerfk();>查看试卷</a></td>
                        </tr>
                        <tr>
                            <td>关于党章建设</td>
                            <td></td>
                            <td></td>
                            <td>30</td>
                            <td><a href="javascript:;" onclick=layerfk();>查看试卷</a></td>
                        </tr>
                        <tr>
                            <td>关于党章建设</td>
                            <td></td>
                            <td></td>
                            <td>30</td>
                            <td><a href="javascript:;" onclick=layerfk();>查看试卷</a></td>
                        </tr>
                        <tr>
                            <td>关于党章建设</td>
                            <td></td>
                            <td></td>
                            <td>30</td>
                            <td><a href="javascript:;" onclick=layerfk();>查看试卷</a></td>
                        </tr>
                      </tbody>
                </thead>
            </table>
            <div class="pagenation">
                <ul class="page_area page_gk page_bkk page_ll clearfix">
                    <li><a href="#">上一页</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#" class="act">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">...</a></li>
                    <li><a href="#">10</a></li>
                    <li><a href="#">下一页</a></li>
                </ul>
            </div>
    </div>
    <script src="../../../views/js/jquery-1.11.1.min.js"></script>
    <script src="../../../views/js/layer.js"></script><!--弹窗-->
    <script src="../../js/lak.js"></script><!--弹窗-->
    <script src="../../../views/js/main.js"></script><!--tab切换 图片切换 左导航-->
</body>
</html>