<!DOCTYPE html>
<html>

<head>
    <title>必修课</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="../../css/style.css">
</head>

<body>
    <!--登录条 start-->
    <div class="lo_box">
        <div class="hd_login clearfix">
            <div class="log_lf">
                <a href="javascript:void(0)" class="wdz">帮助文档</a>
                <a href="javascript:;" onclick=layeraw();>反馈意见</a>
            </div>
            <div class="log_rf clearfix"  style="display:none;">
                <p>
                    <input type="text" value="用户名" class="user" onfocus="if(value=='用户名') {value=''}" onblur="if (value=='') {value='用户名'}">
                </p>
                <p>
                    <input type="password" value="" class="password" placeholder="请输入您的密码">
                </p>
                <a href="javascript:void(0)" class="input_resg">登录</a>
                <a href="javascript:;" onclick=layerrg(); class="input_resg">注册</a>
                <a href="javascript:;" onclick=layerpd(); class="input_pd">忘记密码</a>
            </div>
            <div class="log_rf_on clearfix">
                <a href="javascript:;" onclick=layertw();><img src="../../image/common/dltb.jpg" /></a>
                <span class="input_com">欢迎您，</span>
                <a href="javascript:;" onclick=layertw(); class="input_us">用户名</a>
                <a href="javascript:;" onclick=layerpd(); class="input_pad">[修改密码]</a>
                <p>
                    <input type="button" name="user" value="后台" class="input_text01">
                </p>
                <p>
                    <input type="button" name="paddword" value="退出" class="input_text02">
                </p>
            </div>
        </div>
    </div>
    <!--登录条 end-->
    <!--头部 start-->
    <div class="head">
        <div class="head_logo clearfix">
            <div class="fl_column">
                <a href="javascript:void(0)" class="logo"><img src="../../image/common/logo.jpg" /></a>
                <a href="javascript:void(0)"><img src="../../image/common/znlg.jpg" /></a>
            </div>
            <div class="fr_column">
                <div class="search">
                    <label><a href="javascript:void(0)" class="key">关键字</a><a href="javascript:void(0)">课程</a><a href="javascript:void(0)">专题</a><a href="javascript:void(0)">资料</a></label>
                    <p>
                        <input type="text" value="搜索课程、专题或资料" onfocus="if(value=='搜索课程、专题或资料') {value=''}" onblur="if (value=='') {value='搜索课程、专题或资料'}" />
                    </p>
                    <p>
                        <a href="javascript:void(0)">
                            <button></button>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--头部 end-->
    <!--导航 start-->
    <div class="header-con clearfix">
        <ul class="header-nav">
            <li class="head-li"><a href="../../index.html"><i class="icon icon-shouye4wode1"></i>首 页</a></li>
            <li class="head-li  active"><a href="#"><i class="icon icon-user"></i>个人中心</a></li>
            <li class="head-li"><a href="../supermarket/index.html"><i class="icon icon-xiaoxingchaoshi00"></i>课程超市</a></li>
            <li class="head-li"><a href="../special/index.html"><i class="icon icon-zhuanti"></i>专题学习</a></li>
            <li class="head-li"><a href="../resource/index.html"><i class="icon icon-ziliao"></i>学习资源</a></li>
            <li class="head-li"><a href="../faculty/index.html"><i class="icon icon-peixun"></i>培训师资</a></li>
            <li class="head-li"><a href="../info/index.html"><i class="icon icon-xinxi"></i>信息中心</a></li>
            <li class="head-li last"><a href="../rank/mod_core.html"><i class="icon icon-home"></i>排行榜</a></li>
        </ul>
    </div>
    <!--导航 end-->
    <!--内容 start-->
    <div class="content_area">
        <!--内容区域 start-->
        <div class="grzx_main clearfix">
            <div class="box_lf">
                <div class="grzx_bx">
                    <div class="grzx_img">
                        <img src="../../../views/mod/personal/image/grzx_yhm.png" />
                        <p><a href="javascript:void(0)">用户名</a></p>
                    </div>
                    <p>您有&nbsp;<span><a href="javascript:;" onclick=layerfx();>100</a></span>&nbsp;条未读信息</p>
                </div>
                <div class="bk_line"></div>
                <ul class="left-nav">
                    <li class="head-li"><a href="../personal/index.html"><i class="icon icon-shouye4wode1"><b></b></i>我的首页</a></li>
                    <li class="head-li"><a href="javascript:void(0)"><i class="icon icon-wodekecheng"><b></b></i>我的课程</a>
                        <ul class="model_lm" style="display:block;">
                            <li><a href="#" class="active"><i class="icon icon-youjiantou loct active"></i>必修课</a></li>
                            <li><a href="mod_cource.html"><i class="icon icon-youjiantou loct"></i>选修课</a></li>
                            <li><a href="mod_hid.html"><i class="icon icon-youjiantou loct"></i>我的收藏</a></li>
                        </ul>
                    </li>
                    <li class="head-li"><a href="mod_class.html"><i class="icon icon-banji"><b></b></i>我的班级</a></li>
                    <li class="head-li"><a href="mod_exit.html"><i class="icon icon-weikaoshi"><b></b></i>我的考试</a></li>
                    <li class="head-li" style="display:none;"><a href="javascript:void(0)"><i class="icon icon-wentiku"><b></b></i>我的题库</a></li>
                    <li class="head-li"><a href="mod_core.html"><i class="icon icon-iconchengjidan"><b></b></i>考试成绩</a></li>
                    <li class="head-li"><a href="mod_courcecx.html"><i class="icon icon-gerendangan"><b></b></i>个人档案</a></li>
                </ul>
            </div>
            <div class="box_rf">
                <div class="cource_bl">
                   <div class="cource_main">
                        <div class="cource_fit">
                            <a href="javascript:void(0)" class="stu_source">课程期限:</a>
                            <a href="javascript:void(0)" class="open_pub">全部 (10)</a>
                            <a href="javascript:void(0)">未开始 (2)</a>
                            <a href="javascript:void(0)">已开始 (5)</a>
                            <a href="javascript:void(0)">已结束 (3)</a>
                        </div>
                        <div class="cource_fit">
                            <a href="javascript:void(0)" class="stu_source">通过情况:</a>
                            <a href="javascript:void(0)" class="open_basic">全部 (5)</a>
                            <a href="javascript:void(0)">未通过 (1)</a>
                            <a href="javascript:void(0)">已通过 (4)</a>
                        </div>
                    </div>
                </div>
                <table class="table first-td-tc">
                    <thead>
                        <tbody>
                            <tr class="bk_hs">
                                <th class="w62">预警</th>
                                <th class="w184">课程名称</th>
                                <th>通过情况</th>
                                <th>达标方式</th>
                                <th>进度</th>
                                <th>开始时间</th>
                                <th>结束时间</th>
                                <th>操作</th>
                            </tr>
                            <tr>
                                <td><img src="image/mod_cource/hy.jpg"></td>
                                <td>课程名称具体文字内容内容...</td>
                                <td>未通过</td>
                                <td>人工评定</td>
                                <td>
                                    <div class="progress pro_01">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
                                            <span>10%</span>
                                        </div>
                                        <div class="progress-length" style="left: 0;" data-original-title="开始时间" data-container="body" title="" data-placement="top" data-toggle="tooltip"></div>
                                        <div class="progress-length" style="left: 27%;" data-original-title="第一阶段" data-container="body" title="" data-placement="top" data-toggle="tooltip"></div>
                                        <div class="progress-length" style="left: 80%;" data-original-title="预计进度" data-container="body" title="" data-placement="top" data-toggle="tooltip"></div>
                                        <div class="progress-length" style="right: 0%;" data-original-title="结束时间" data-container="body" title="" data-placement="top" data-toggle="tooltip"></div>
                                    </div>
                                </td>
                                <td>2016.06.24</td>
                                <td>2016.06.30</td>
                                <td><a href="cource_detail.html" target="_blank"><span>查看</span></a><a href="hidden.html" target="_blank">学习</a></td>
                            </tr>
                            <tr>
                                <td><img src="image/mod_cource/ly.jpg"></td>
                                <td>课程名称具体文字内容内容...</td>
                                <td>已通过</td>
                                <td>人工评定</td>
                                <td></td>
                                <td>2016.06.24</td>
                                <td>2016.06.30</td>
                                <td><a href="cource_detail.html" target="_blank"><span>查看</span></a><a href="hidden.html" target="_blank">学习</a></td>
                            </tr>
                            <tr>
                                <td><img src="image/mod_cource/ly.jpg"></td>
                                <td>课程名称具体文字内容内容...</td>
                                <td>未通过</td>
                                <td>人工评定</td>
                                <td></td>
                                <td>2016.06.24</td>
                                <td>2016.06.30</td>
                                <td><a href="cource_detail.html" target="_blank"><span>查看</span></a><a href="hidden.html" target="_blank">学习</a></td>
                            </tr>
                            <tr>
                                <td><img src="image/mod_cource/hsy.jpg"></td>
                                <td>课程名称具体文字内容内容...</td>
                                <td>已通过</td>
                                <td>人工评定</td>
                                <td></td>
                                <td>2016.06.24</td>
                                <td>2016.06.30</td>
                                <td><a href="cource_detail.html" target="_blank"><span>查看</span></a><a href="hidden.html" target="_blank">学习</a></td>
                            </tr>
                        </tbody>
                    </thead>
                </table>
                <div class="pagenation">
                    <ul class="page_area page_gk clearfix">
                        <li><a href="#">上一页</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#" class="act">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">10</a></li>
                        <li><a href="#">下一页</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!--内容区域 end-->
    <!-- 底部 start-->
    <div id="footer">
        <div class="footer clearfix">
            <div class="fl_01">
                <img src="../../image/common/banner.jpg" />
            </div>
            <div class="fr_01">
                <p>版权所有：中国共产主义青年团吉林省委员会 网站备案号：京ICP备10000000-1号 地址：长春市具体文字内容具体文字内容具体文字内容
                    <br>
                    <span>长春嘉诚信息技术股份有限公司 技术支持</span></p>
            </div>
        </div>
    </div>
    <!-- 底部 end-->
    <script src="../../../views/js/jquery-1.11.1.min.js"></script>
    <script src="../../../views/js/layer.js"></script><!--弹窗-->
    <script src="../../js/lak.js"></script><!--弹窗-->
    <script src="../../../views/js/main.js"></script><!--tab切换 图片切换 左导航-->
</body>
</html>