<!DOCTYPE html>
<html>
<head>
    <title>查看试卷弹出</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="../../css/style.css">
</head>
<body>
    <!--内容 start-->
    <div class="content_area cont_exam">
        <!--内容区域 start-->
        <div class="exam_main clearfix">
            <div class="cource_bl tit_exam">
                <div class="cource_title tit_search tit_disamp clearfix">
                    <div class="exam_flt">
                    <span class="ksmc">考试名称:</span>
                    <span>倒计时: 15:25</span>
                    </div>
                    <div class="exam_frt">
                    <a href="javascript:void(0)">交卷</a>
                    <a href="javascript:void(0)" style="display:none;">暂停</a>
                    </div>
                </div>
                <div class="bk_linefirst bg_line"></div>
            </div>
            <div class="wbk">
                <div class="exam_all clearfix">
                    <div class="exam_fl">
                        <div class="exam_flp">
                            <h3>一、单选题</h3>
                            <ul class="tit_area clearfix">
                                <li><a href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                                <li><a href="javascript:void(0)">4</a></li>
                                <li><a href="javascript:void(0)">5</a></li>
                                <li><a href="javascript:void(0)">6</a></li>
                                <li><a href="javascript:void(0)">7</a></li>
                                <li><a href="javascript:void(0)">8</a></li>
                                <li><a href="javascript:void(0)">9</a></li>
                                <li><a href="javascript:void(0)">10</a></li>
                            </ul>
                        </div>
                        <div class="exam_flp">
                            <h3>二、多选题</h3>
                            <ul class="tit_area clearfix">
                                <li><a href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                                <li><a href="javascript:void(0)">4</a></li>
                                <li><a href="javascript:void(0)">5</a></li>
                                <li><a href="javascript:void(0)">6</a></li>
                                <li><a href="javascript:void(0)">7</a></li>
                                <li><a href="javascript:void(0)">8</a></li>
                                <li><a href="javascript:void(0)">9</a></li>
                                <li><a href="javascript:void(0)">10</a></li>
                            </ul>
                        </div>
                        <div class="exam_flp">
                            <h3>三、判断题</h3>
                            <ul class="tit_area clearfix">
                                <li><a href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                                <li><a href="javascript:void(0)">4</a></li>
                                <li><a href="javascript:void(0)">5</a></li>
                                <li><a href="javascript:void(0)">6</a></li>
                                <li><a href="javascript:void(0)">7</a></li>
                                <li><a href="javascript:void(0)">8</a></li>
                                <li><a href="javascript:void(0)">9</a></li>
                                <li><a href="javascript:void(0)">10</a></li>
                            </ul>
                        </div>
                        <div class="exam_flp">
                            <h3>四、填空题</h3>
                            <ul class="tit_area clearfix">
                                <li><a href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                                <li><a href="javascript:void(0)">4</a></li>
                                <li><a href="javascript:void(0)">5</a></li>
                                <li><a href="javascript:void(0)">6</a></li>
                                <li><a href="javascript:void(0)">7</a></li>
                                <li><a href="javascript:void(0)">8</a></li>
                                <li><a href="javascript:void(0)">9</a></li>
                                <li><a href="javascript:void(0)">10</a></li>
                            </ul>
                        </div>
                        <div class="exam_flp">
                            <h3>五、简答题</h3>
                            <ul class="tit_area clearfix">
                                <li><a href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)">2</a></li>
                                <li><a href="javascript:void(0)">3</a></li>
                                <li><a href="javascript:void(0)">4</a></li>
                                <li><a href="javascript:void(0)">5</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="exam_fr">
                        <div class="cource_bl cource_examk">
                            <div class="cource_title tit_exam">
                                <span>一、单选题(共10题，每题2分，共计20分)</span>
                            </div>
                        </div>
                        <div class="mod_exam">
                            <p class="small_eaxm">第1题：嘉诚公司上市时间( )</p>
                            <p class="big_exam">A. 2013 B. 2014 C. 2015 D. 2016</p>
                            <p class="small_eaxm">选择答案: A
                                <input type="radio" name="select" value=""> B
                                <input type="radio" name="select" value=""> C
                                <input type="radio" name="select" value=""> D
                                <input type="radio" name="select" value="">
                            </p>
                        </div>
                        <div class="mod_exam">
                            <p class="small_eaxm">第1题：嘉诚公司上市时间( )</p>
                            <p class="big_exam">A. 2013 B. 2014 C. 2015 D. 2016</p>
                            <p class="small_eaxm">选择答案: A
                                <input type="radio" name="select" value=""> B
                                <input type="radio" name="select" value=""> C
                                <input type="radio" name="select" value=""> D
                                <input type="radio" name="select" value="">
                            </p>
                        </div>
                        <div class="mod_exam">
                            <p class="small_eaxm">第1题：嘉诚公司上市时间( )</p>
                            <p class="big_exam">A. 2013 B. 2014 C. 2015 D. 2016</p>
                            <p class="small_eaxm">选择答案: A
                                <input type="radio" name="select" value=""> B
                                <input type="radio" name="select" value=""> C
                                <input type="radio" name="select" value=""> D
                                <input type="radio" name="select" value="">
                            </p>
                        </div>
                        <div class="mod_exam">
                            <p class="small_eaxm">第1题：嘉诚公司上市时间( )</p>
                            <p class="big_exam">A. 2013 B. 2014 C. 2015 D. 2016</p>
                            <p class="small_eaxm">选择答案: A
                                <input type="radio" name="select" value=""> B
                                <input type="radio" name="select" value=""> C
                                <input type="radio" name="select" value=""> D
                                <input type="radio" name="select" value="">
                            </p>
                        </div>
                        <div class="cource_bl cource_examk">
                            <div class="cource_title tit_exam">
                                <span>五、简答题（共5题，每题5分，共计25分）</span>
                            </div>
                        </div>
                        <div class="mod_exam mod_last">
                            <p class="big_exam">第1题：嘉诚公司形象标志说明</p>
                            <p class="ex_sl">考生答案:</p>
                            <textarea name="textarea2" cols="92" rows="2">1、它象征着一面飘扬的旗帜，代表嘉诚公司积极进取，勇于创新，与时俱进的精神风貌。2、蓝色作为整个标识的主色调，象征公司风格稳健。</textarea>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--内容区域 end-->
</body>
</html>