<!DOCTYPE html>
<html>
<head>
    <title>消息详情弹出</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="../../css/style.css">
</head>
<body>
    <!--内容 start-->
    <div class="spe_dir">
            <div class="spe_cl">
                <h3>消息(12)</h3>
            </div>
            <ul class="news-click">
                <li><a href="javascript:void(0)">管理员提示您：您该学习了“党建学习课程”了</a><span>2016-05-25</span></li>
                <li><a href="javascript:void(0)">管理员提示您：您该学习了“党建学习课程”了</a><span>2016-05-25</span></li>
                <li><a href="javascript:void(0)">管理员提示您：您该学习了“党建学习课程”了</a><span>2016-05-25</span></li>
                <li><a href="javascript:void(0)">管理员提示您：您该学习了“党建学习课程”了</a><span>2016-05-25</span></li>
                <li><a href="javascript:void(0)">管理员提示您：您该学习了“党建学习课程”了</a><span>2016-05-25</span></li>
                <li><a href="javascript:void(0)">管理员提示您：您该学习了“党建学习课程”了</a><span>2016-05-25</span></li>
                <li><a href="javascript:void(0)">管理员提示您：您该学习了“党建学习课程”了</a><span>2016-05-25</span></li>
                <li><a href="javascript:void(0)">管理员提示您：您该学习了“党建学习课程”了</a><span>2016-05-25</span></li>
                <li><a href="javascript:void(0)">管理员提示您：您该学习了“党建学习课程”了</a><span>2016-05-25</span></li>
                <li><a href="javascript:void(0)">管理员提示您：您该学习了“党建学习课程”了</a><span>2016-05-25</span></li>
                <li><a href="javascript:void(0)">管理员提示您：您该学习了“党建学习课程”了</a><span>2016-05-25</span></li>
                <li><a href="javascript:void(0)">管理员提示您：您该学习了“党建学习课程”了</a><span>2016-05-25</span></li>
            </ul>
        </div>
   <!--内容区域 end-->
</body>
</html>