@charset "utf-8";
/*课程页面右侧导航 start*/
.kb_color,
.kb_hid {
    background: $color_fff;
    margin-bottom: 10px;
    padding-bottom: 20px;
    .wb_area {
        display: none;
    }
    ul.kclb {
        padding: 24px 21px 0 0;
        li {
            padding: 0 24px 0 24px;
            .kclb_img {
                margin-bottom: 8px;
            }
        }
    }
    .button_color {
        padding-top: 10px;
        a {
            display: inline-block;
            background: $main_color;
            border-radius: 5px;
            padding: 9px 14px;
            text-align: center;
            color: $color_fff;
        }
        .exit {
            background: $lsColor;
            border-radius: 5px;
        }
    }
    .img_line {
        border-bottom: 1px #cccccc dashed;
        padding-top: 255px;
        margin-bottom: 25px;
    }
}
/*课程页面右侧导航 end*/
/*翻页 start*/
.pagenation {
    @include page(5px 12px, #ccc);
    ul.page_area {
        padding-left: 0;
        margin-right: 39px;
    }
   .page_kl {padding-right: 10px;margin-top: 20px;}
    li {
        list-style: none;
    }
}
/*翻页 end*/
/*收藏页面 start*/

.kb_hid {
    .wb_area {
        display: block;
       .wb_fr {
            p {
                color: #9198ab;
                font-size: $global-font-size+2;
                font-weight: normal;
            }
        }
    }
    .img_line {
        border-bottom: 1px #cccccc dashed;
        padding-top: 285px;
        margin-bottom: 25px;
    }
}
/*收藏页面 end*/


.news_02 {
    width: 980px;
    padding: 40px 55px 50px 55px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #eae9e9;
    margin-bottom: 10px;
    h2 {
        color: #333;
        font-size: 24px;
        text-align: center;
        padding-bottom: 30px;
    }
    p.bj {
        background: #d6f5ff;
        padding: 9px 0;
        color: #7f7f7f;
        font-size: 14px;
        font-family: "微软雅黑";
        text-align: center;
        margin-bottom: 25px;
    }
    img {
        display: block;
        margin: 0 auto 25px;
        max-width: 100%;
       }
    .xx {
        border-bottom: #b8b8b8 1px dashed;
        margin-bottom: 30px;
        padding-bottom: 30px;
        p {
            color: #333;
            font-size: 14px;
            font-family: "微软雅黑";
            line-height: 200%;
            text-indent: 2em;
        }
    }
    .sp {
        padding-bottom: 25px;
    }
    p {
        color: #333;
        font-size: 14px;
        font-family: "微软雅黑";
        span.active {
            color: #00ccff;
            text-decoration: underline;
        }
    }
    p.zxk{margin-bottom: 20px;}
    p.fj{color: #333;
        font-size: 14px;
        font-family: "微软雅黑";font-weight: bold;margin-bottom: 25px;}
}
