@charset "utf-8";
/*班级通讯录 start*/
.modal-header{min-height:16.428571429px;padding:15px;border-bottom:1px solid #e5e5e5;background-color: #F9F8F5;}
.modal-header .close{margin-top:-2px;}
h4{font-size: 17.5px;font-weight: bold;color:#555;}
.modal-title{margin:0;line-height:1.428571429;@include fl();}
.m-l-lg {
    margin-left: 30px;
}
.modal-tree .btn-group{@include fl();}
.m-b-none {
    margin-bottom: 0;
}

.m-r-lg {
    margin-right: 30px;
}
[data-toggle="buttons"]>.btn>input[type="radio"], [data-toggle="buttons"]>.btn>input[type="checkbox"] {
    display: none;
}
input[type="text"]{background-color: #fff;
    border: 1px solid #ccc;}
.btn {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #0063A6;
    border: 1px solid #ccc;
    border-color: #e6e6e6;
    border-color: rgba(0,0,0,0.1);
}
.modal{display: none;}
.modal-tree .btn-group label.btn{margin-right: 10px;background-color: #fff;border-color: #ccc; color: #555;display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
   line-height: 20px;
   text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
    border: 1px solid #ccc;}
.modal-tree .btn-group label.btn:hover,.modal-tree .btn-group label.btn:focus,.modal-tree .btn-group label.btn.active{background-color:#0063a6;border-color:#00497b;color:#fff;}
.modal-tree .input-append{@include fr();}
.modal-tree .input-append .add-on{background-color: transparent;border-color: transparent;}
.modal-tree .input-append .btn{padding: 4px 8px;}
.modal-tree .input-append .input{position: relative;margin-bottom: 0;vertical-align: top;}
.modal-tree .table,.modal-tree .table td{border:0px none !important;}
.modal-tree .checkbox{padding-top:0;margin-bottom: 0;}
.modal-tree .checkbox.inline,.modal-tree .checkbox.inline+.checkbox.inline{margin-right:10px;}
.tree-ul .tree-horizontal>li div.tree-list{margin-left:35px;border:1px solid #ccc;position: relative;background-color:inherit;background-color:rgba(0,0,0,0.05) !important;text-shadow:none;filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#0B000000,endcolorstr=#0B000000); display:table; margin-top:-1px}
.level1.tree-list{border-top:1px solid #ccc !important;margin-top:0 !important;}
.tree-ul .tree-horizontal>li div.tree-list>div:first-child{float:left;width:145px;overflow:hidden;clear:left;text-align:left;text-overflow:ellipsis;padding:6px 0;}
.tree-ul .tree-horizontal>li div.tree-list>div:first-child label{margin-left:10px;}
.tree-ul .tree-horizontal>li div.tree-list>div:first-child+div{padding:6px 12px;width:630px;border-left:1px solid #ccc;background:#fff; display:table-cell; vertical-align:top;}
.tree-ul .tree-horizontal>li div.tree-list>div:first-child+div a{color:#555;}
.tree-ul .tree-horizontal>li div.level1{margin-left:0;background:#fff !important;}
.tree-ul .tree-horizontal>li div.level2{margin-left:5px;background:#fff !important;}
.tree-ul .tree-horizontal>li div.level3{margin-left:10px;background:#fff !important;}
.tree-ul .tree-horizontal>li div.level4{margin-left:15px;background:#fff !important;}
.tree-ul .tree-horizontal>li div.level5{margin-left:20px;background:#fff !important;}
.tree-ul .tree-horizontal>li div.level6{margin-left:25px;background:#fff !important;}
.tree-ul .tree-horizontal>li div.level7{margin-left:30px;background:#fff !important;}
.tree-ul .tree-horizontal>li div.level1>div:first-child:before{content: " ";position: absolute;top: -1px;bottom: -1px;top: 0\0;left: -1px;bottom: 0\0;width: 5px;background-color: #fb6b5b;}
.tree-ul .tree-horizontal>li div.level2>div:first-child:before{content: " ";position: absolute;top: -1px;bottom: -1px;top: 0\0;left: -1px;bottom: 0\0;width: 5px;background-color: #ffc333;}
.tree-ul .tree-horizontal>li div.level3>div:first-child:before{content: " ";position: absolute;top: -1px;bottom: -1px;top: 0\0;left: -1px;bottom: 0\0;width: 5px;background-color: #8ec165;}
.tree-ul .tree-horizontal>li div.level4>div:first-child:before{content: " ";position: absolute;top: -1px;bottom: -1px;top: 0\0;left: -1px;bottom: 0\0;width: 5px;background-color: #60aae9;}
.tree-ul .tree-horizontal>li div.level5>div:first-child:before{content: " ";position: absolute;top: -1px;bottom: -1px;top: 0\0;left: -1px;bottom: 0\0;width: 5px;background-color: #add04e;}
.tree-ul .tree-horizontal>li div.level6>div:first-child:before{content: " ";position: absolute;top: -1px;bottom: -1px;top: 0\0;left: -1px;bottom: 0\0;width: 5px;background-color: #60aae9;}
.tree-ul .tree-horizontal>li div.level7>div:first-child:before{content: " ";position: absolute;top: -1px;bottom: -1px;top: 0\0;left: -1px;bottom: 0\0;width: 5px;background-color: #ffc334;}
.tree-ul .tree-horizontal>li div.tree-list.level1>div:first-child{width:175px;margin-left:5px;}
.tree-ul .tree-horizontal>li div.tree-list.level2>div:first-child{width:170px;margin-left:5px;}
.tree-ul .tree-horizontal>li div.tree-list.level3>div:first-child{width:165px;margin-left:5px;}
.tree-ul .tree-horizontal>li div.tree-list.level4>div:first-child{width:160px;margin-left:5px;}
.tree-ul .tree-horizontal>li div.tree-list.level5>div:first-child{width:155px;margin-left:5px;}
.tree-ul .tree-horizontal>li div.tree-list.level6>div:first-child{width:150px;margin-left:5px;}
.tree-ul .tree-horizontal>li div.tree-list.level7>div:first-child{width:145px;margin-left:5px;}
.tree-ul .tree-horizontal>li div.tree-list>div:first-child+div label{width:130px;}

.tree-ul .tree-horizontal>li div.tree-list b{background:url(../images/demoimg/tree-icon2.png) no-repeat;width:16px;height:12px;display:inline-block;margin-left:10px;margin-right:5px;}
.tree-ul .tree-horizontal>li div.tree-list.level1 b,.tree-ul .tree-horizontal>li div.tree-list.level2 b,.tree-ul .tree-horizontal>li div.tree-list.level3 b,.tree-ul .tree-horizontal>li div.tree-list.level4 b{background:url(../images/demoimg/tree-icon.png) no-repeat !important;width:16px;height:12px;display:inline-block;margin-left:10px;margin-right:5px;}

.tree-scroll{overflow-y:auto;height:358px !important;}
.tree-scroll-right{overflow-y:auto;height:357px !important;}
.tree-s-r{min-height:471px !important;}
.tree-sort{position:absolute;left:180px;top:0;width:24px;height:24px;}
.tree-sort a{display:block;width:24px;height:24px;}
.tree-sort a i{display:block;width:24px;height:24px;font-size:14px;color:#05548a;}
.tree-move{width:24px;height:100px;position:absolute;left:180px;top:110px;}
.tree-move a>i{font-size:24px;color:#05548a;}
.tree-move a.tree-move-up{margin-bottom:40px;display:block;}

.tree-operate{width:44px;}
.tree-operate a{width:44px;height:44px;text-align:center;line-height:44px;background:#05548a;margin-top:70px;display:block;}
.tree-operate a i{color:#fff;}
.w530{width:530px;}
/*班级通讯录 end*/