<!DOCTYPE html>
<html>
<head>
    <title>查看讲话内容</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="../../css/style.css">
</head>
<body>
   <!-- content start-->
    <div class="content_area">
        <div class="news_02">
            <h2>习近平对青年说的就句话</h2>
            <p class="bj">发布人：王秀维　发布时间：2016-04-27</p>
            <img src="../resource/image/dt.jpg" alt="">
            <div class="xx">
                <p>各市（州）商务局，长白山管委会商务局，梅河口、公主岭市商务局、各商协会、专业服务机构和相关企业：</p>
                <p>吉林省“万名商业小老板”培训班已经成功举办了三十期，得到了社会各界特别是参训企业的广泛称赞。为了持续搞好“万名商业小老板”的培训工作，我们拟在长春市组织召开第三十一期“万名商业小老板培训班”。现将有关事宜函告如下：</p>
                <p>一、培训时间</p>
                <p>2015年12月3日,星期四，9:00-17:00,培训一天。</p>
                <p>二、培训地点</p>
                <p>吉林省商务厅6楼会议室（长春市人民大街与惠民路交会）。</p>
                <p>三、培训人员</p>
                <p>本次培训班以全省金融投资机构负责人和金融产品销售人员为主，同时广泛吸纳省内各地区企业参加，参训企业和人员要求是：企业不能少于80户，人员120人以上。</p>
                <p>四、培训内容</p>
                <p>本次培训，我们将聘请长春光华学院计算机基础部王昆主任讲授互联网金融方面的知识。主要内容包括：</p>
                <p>第一部分：互联网+</p>
                <p>第二部分：互联网+金融</p>
                <p>第三部分：金融产品营销</p>
                <p>五、主办、承办单位</p>
                <p>主办单位：吉林省商务厅</p>
                <p>承办单位：吉林省中小商贸流通企业服务中心</p>
                <p>六、相关要求</p>
            </div>
            <p class="sp">上一篇：<a href="javascript:void(0)"> 暂无相关信息</a></p>
            <p class="zxk"><a href="javascript:void(0)">下一篇：<span class="active">关于举办全省中小商贸流通企业特色商品展览展销会的通知</span></a></p>
            <p class="fj">附件</p>
           <div class="pagenation">
            <ul class="page_area page_gk page_res clearfix">
                <li><a href="#">上一页</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#" class="act">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">10</a></li>
                <li><a href="#">下一页</a></li>
            </ul>
        </div>
        </div>
    </div>
    <!-- content end-->
    <script src="../../js/jquery-1.11.1.min.js"></script>
    <script src="../../js/layer.js"></script>
    <script src="../../js/lak.js"></script>
</body>
</html>